body{
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    /* scroll horizontally as needed */
    overflow-x: auto;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 30px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  #chat_section{
    visibility: hidden;
  }