<!DOCTYPE html>
<html lang="en">

<head>
  <title>Flask_Chat_App</title>
  <script src="../static/script1.js"></script>
  <script src="../static/script2.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container content-section">

    <div class="container" id="subhead-section">
      <form id="form" onsubmit="formSubmitListener()">
        <input id="name" autocomplete="off" autofocus placeholder="Name" type="text">
        <input type="submit" form="form">
      </form>
    </div>

    <div class="container" id="chat_section">
      <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>

      <div class="message_holder"></div>

      <form  action="" method="POST">
        <input type="text" class="message" placeholder="Messages" />
        <input type="submit" />
      </form>
    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  

</body>

</html>